body {
    width: 99.99%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-image: url("../ouw.jpg");
	margin-top: 0;
}

html{
    width: 100%;
    box-sizing: border-box;
    height: auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#mainframe{
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr;
    background-color: gold;
}

#top-img{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;

}


.img{
    width:80%;
    height: 80%;
    object-fit: cover;
    border-radius: 0.2em;
    box-shadow: 0em 0.2em 0.2em 0.2em #555555;
}



.top-text{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:95%;
    height:100%;
}

.flex-left{
    align-items: flex-start;
}

.big-text{
    font-size: 4em;
    font-family: "Coolvetica";
}

.little-text{
    font-size: 2em;
    font-family: "Coolvetica"
}



@font-face {
    font-family: 'Coolvetica';
    src: url('../coolvetica\ rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.messageframer{
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr;
    width:100%;
    box-sizing: content-box;
    display:grid;
    font-family: "Coolvetica";
    background-color: #222222;
    color: #eeeeee;
    box-shadow: 0em 0em 1em #111111;
}

.messageframel{
    grid-template-columns: 1fr 40%;
    grid-template-rows: 1fr;
    width:100%;
    min-height: 20em;
    box-sizing: content-box;
    display:grid;
    font-family: "Coolvetica";
    background-color: #282828;
    color: #ffffff;
    z-index: -1;
    box-shadow: 0em 0em 1em #111111;
}

.msgtxtr{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    font-family: "Coolvetica";
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-row: 1/span 1;
    padding: 2em;
    box-sizing: border-box;
}

.msgtxtl{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    font-family: "Coolvetica";
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-row: 1/span 1;
    padding: 2em;
    box-sizing: border-box;
}

.msgimgr{
    max-width:100%;
    object-fit: cover;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    border-radius: 1em;
    transition: box-shadow 1s;
    box-shadow: 0em 0em 1em #111111;
    margin: 2em;
    margin-right: 4em;
}

.msgimgr:hover{
    box-shadow: 0em 0em 100em #111111;
}
.msgimgl:hover{
    box-shadow: 0em 0em 0.5em #111111;
}
.msgimgl{
    max-width:100%;
    object-fit: cover;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    border-radius: 1em;
    transition: box-shadow 1s;
    box-shadow: 0em 0em 0.2em #111111;
    margin: 2em 2em;
    margin-left: 4em;
}

.imgwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}